:root {
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --ff-koddchasan: 'Kodchasan', sans-serif;
  --bc-accent: #F65A83;
  --bc-accent-light: #ffc4d9;
  --bc-dark: #090909;
  --bc-semi-dark: #7d7d7d;
  --bc-light: #FFF;
  --bc-semi-light: #EEEEEE;
  --bc-semi-light2: #cdcdcd;
  --bc-secondary: #FFD372;
  --fs-small: 22px;
  --fs-large: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bc-light);
}

body {
  background-color: var(--bc-light);
  font-family: var(--ff-ubuntu);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 70px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bc-accent);
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header li {
  list-style: none;
  padding-left: 20px;
}

section{
  display: block;
}

ol {
  list-style:  none;
  line-height: 1.5;
}

form {
  padding-top: 20px;
}

h2 {
  font-size: var(--fs-small);
  color: var(--bc-dark);
}

h1 {
  font-size: var(--fs-large);
  color: var(--bc-dark);
}

footer {
  background-color: var(--bc-dark);
  padding: 0.5rem;
  color: var(--bc-light);
  
}

footer > ul  {
  display: flex;
  justify-content: flex-end;
}

footer p {
  color: var(--bc-accent);
}

footer  ul li {
  padding: 0px 10px;
  list-style: none;
}

.header-img {
  width: 100px;
}

#About-us {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#page-wrapper {
  position: relative;
}

#get-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  margin-top: 100px;
  padding: 2rem;
  line-height: 1.5;
}

#get-info input[type='email'] {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  background-color: var(--bc-semi-light);
  font-family: var(--ff-ubuntu);
}

#get-info input[type='submit'] {
  padding: 6px 10px;
  border: none;
  background-color: var(--bc-accent);
  color: var(--bc-light);
  text-transform: uppercase;
  border-radius: 3px;
}

#get-info input[type='submit']:hover {
  border: none;
  background-color: var(--bc-dark);
  color: var(--bc-light);
  cursor: pointer;
}

#Features {
  background-color: var(--bc-semi-light);
  padding: 1rem;
}

#Features .icon {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  height: 120px;
  width: 20vw;
  color: var(--bc-accent);
  font-size: 60px;
}

#Features .item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 80vw;
  line-height: 1.5;

}

#Blog {
  text-align: center;
  padding: 2rem;
}

#Blog .icon {
  color: var(--bc-semi-light2);
  font-size: 60px;
}

#Plans {
  background-color: var(--bc-semi-light);
}

#Plans h1 {
  text-align: center;
  padding-top: 1rem;
}

.plans-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 1rem;
  
}

.service h2 {
  color: var(--bc-accent);
  font-size: 2rem;
  padding: 1rem;
}

.service p {
  font-weight: bold;
  background-color: var(--bc-accent);
  width: 100%;
  padding: 1rem;
  color: var(--bc-light);
}

.blog-content {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.plan-button {
  margin: 0.5rem;
  padding:6px 10px;
  border: none;
  background-color: var(--bc-accent);
  color: var(--bc-light);
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: bold;
}

.blog-button {
  padding:6px 10px;
  border: none;
  background-color: var(--bc-accent);
  color: var(--bc-light);
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: bold;
}

.blog-button:hover, .plan-button:hover {
  border: none;
  background-color: var(--bc-dark);
  color: var(--bc-light);
  cursor: pointer;
}

.col {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  padding-top: 2rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  body  {
    font-size: 15px;
    line-height: 1.5;
  }

  #Features .icon {
    font-size: 30px;
  }

  #get-info input[type='email'] {
    width: 50%;
  }

  header {
    align-items: center;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
  }

  .service {
    width: calc(100%/2);
  }

  .blog-content {
    flex-direction: column;
    align-items: center;
  }

  .plans-content {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 280px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  header {
    align-items: center;
    font-size: 12px;
    padding: 0;
  }
  #Features.item-description {
    padding-bottom: 2rem;
  }

  #About-us {
    align-items: center;
  }

  #video {
    width: 250px;
  }
}





